body {
  background: $black-color;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
}

.progress-loader {
  transition: opacity .25s;
  opacity: 0;

  &.loading {
      opacity: 1;
  }

  > div {
      transition: transform .5s;
      height: 1px;
      background: $primary-green-color;
      transform-origin: left;
  }
}