.page {
  margin: 0 auto;
  padding-top: 40px;
  background: #f8f8f8;
  min-width: 320px;
  position: relative;
  background: $background-color;
  min-height: $page-height;
  max-width: $page-max-width;

  @media (min-height: 900px) {
    min-height: $page-height-xl!important;
  }
}
