.section.container {
  min-height: $page-height;
  background: #f8f8f8;

  @media (min-width: 1400px) {
    min-height: $page-height-xl;
  }

  .header.container + & {
    min-height: 0;
  }

  .section {
    margin: 0 -15px;
    padding: 15px;
    background: #f8f8f8;
    height: 100%;

    h1 {
      padding: 0 0 .5em;
      margin: 0;
    }
  }
}
